/* MyCalendar.css */

.custom-calendar {
    background-color: #78cbe7; /* Cambia el fondo del calendario según tus preferencias */
  }
  
  .custom-calendar .rbc-today {
    background-color: #78cbe7; 
  }


  .titulo{
   background-color: rgb(43, 226, 171);
    text-align: center;
    padding-bottom: 10px;
  }

