/* MyCalendar.css */

.custom-calendar {
    background-color:  rgba(78, 202, 155, 0.618); 
  


  }
  
  .rbc-current-time-indicator{
    display: none;
  }
  .custom-calendar .rbc-today {
    background-color: #78cbe7; 
  }


  .titulo{
   background-color: rgb(43, 226, 171);
    text-align: center;
    padding-bottom: 10px;
  }

  .toast.success {
    font-weight: bold;
  }

 
  .react-calendar__tile--now {
    background: #6f48eb33;
    border-radius: 6px;
    font-weight: bold;
    color: #6f48eb;
   }