
.custom-calendar {
  background-color: rgba(78, 202, 155, 0.618); /* Color de fondo del calendario */
  color: black; /* Color del texto en el calendario */
}

.custom-calendar .rbc-today {
  background-color: #78cbe7; 
}


.container {
  background-color: rgb(143, 159, 249);
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  border-radius: 10px;
}


.container span {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}


