/* EventCard.css */

.event-card-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999; /* Coloca la tarjeta por encima del calendario */
  }
  
  .event-card {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    max-width: 80%;
    text-align: left;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
 
  